.header {
    display: flex;
    justify-content: center;
    background-color: #1a9cb0;
    &--menu_container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--menu_item, &--menu_item_active{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 40px;
      cursor: pointer;
      border: 1px solid #0b7a8b;
      margin: 10px 10px;
      background-color: white;
      color: #464547;
      text-decoration: none;
    }
    &--menu_item_active {
      text-decoration: underline;
    }
}